body{
    background-image: url("../img/background.jpg");
    background-color: #000;
}
.box-1{
    margin: 20px auto;
    border:5px solid #fff;
    border-radius: 15px;
    width: 500px;
    padding-top: 20px;
    height: 450px;
    background-color: #000a;
}
.box-1 a{
    text-decoration: none;
    color: #EC9E6D;
}
.box-1 h1{
  text-align: center;
}
.box-1 h1 a{
    padding: 10px;
    background-color: #ec9e6daf;
    color: black;
    border: 1px solid #fff;
    border-radius: 10px;
    transition-duration: 700ms;
}
.box-1 h1 a:hover{
    background-color: #ec9e6d;
}
.box-1 table { 
    width: 400px;
    height: 200px;
    margin: 40px auto;
    margin-top: 80px;
    padding: 0;
}
.box-1 table tr td a{
    color: black;
    padding: 35px;
    display: block;
    background-color: #ec9e6daf;
    font-size: large;
    font-weight: 700;
    transition: 700ms;
    border: 2px solid #fff;
}
.menu-1{
    border-radius: 0px 40px;
}
.menu-2{
    border-radius: 40px 0px;
}
.box-1 table tr td a:hover{
    background-color: #ec9e6d;
}

.box-1 h2{
    font-family:"Poppins",Sans-serif;
    text-align:center;
    color:#373150;
    font-size:20px;
    font-weight:700;
    line-height:20px;
}
.box-1 h2 span{
    color:#56A274

}



